In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import MinMaxScaler,StandardScaler
import time

def load_data(file_path: str):
    df = pd.read_csv(file_path, header=None)
    df.columns = [
        'sepal_length',
        'sepal_width',
        'petal_length',
        'petal_width',
        'class'
    ]
    return df


df = load_data('/content/drive/MyDrive/Colab Notebooks/31_DM/30_homeWork3/iris.data')
# %%
x: pd.DataFrame = df.iloc()[:, :-1]
scaler = StandardScaler()
x_nol = scaler.fit_transform(x)
x_nol=pd.DataFrame(x_nol,columns=x.columns)
x_nol

     sepal_length  sepal_width  petal_length  petal_width
0       -0.900681     1.032057     -1.341272    -1.312977
1       -1.143017    -0.124958     -1.341272    -1.312977
2       -1.385353     0.337848     -1.398138    -1.312977
3       -1.506521     0.106445     -1.284407    -1.312977
4       -1.021849     1.263460     -1.341272    -1.312977
..            ...          ...           ...          ...
145      1.038005    -0.124958      0.819624     1.447956
146      0.553333    -1.281972      0.705893     0.922064
147      0.795669    -0.124958      0.819624     1.053537
148      0.432165     0.800654      0.933356     1.447956
149      0.068662    -0.124958      0.762759     0.790591

[150 rows x 4 columns]

# KMeans fit

In [2]:
k_stat = time.time()
k_mean = KMeans(n_clusters=3)
k_mean.fit(x_nol)
k_mean_lable = k_mean.predict(x_nol)
k_end = time.time() - k_stat
print(f'using time is {k_end*1000:.6f} ms ')

using time is 56.484699 ms

In [3]:
df['k_mean_lable'] = k_mean_lable

df_k_mean = df.pivot_table(index=['k_mean_lable'],
                     columns=['class'],
                     values=['sepal_length'],
                     aggfunc="count")

df_k_mean.columns = df['class'].value_counts().index
df_k_mean = df_k_mean.fillna(value=0)
df_k_mean

              Iris-versicolor  Iris-virginica  Iris-setosa
k_mean_lable
0                        50.0             0.0          0.0
1                         0.0            39.0         14.0
2                         0.0            11.0         36.0

# purity

In [4]:
def get_purity(df: pd.DataFrame):
    temp = df / df.sum()
    purity = temp.max()
    return purity


df_k_mean['purity'] = df_k_mean.apply(get_purity, axis=1)
df_k_mean['purity_weight'] = (df_k_mean['purity'] * (df_k_mean.iloc()[:, :-1].sum(axis=1) / df_k_mean.iloc()[:, :-1].sum(axis=1).sum()))
k_mean_total_purity = df_k_mean['purity_weight'].sum()
print(f'total purity for k mean is {k_mean_total_purity:.6f}')
df_k_mean

total purity for k mean is 0.833333

              Iris-versicolor  Iris-virginica  ...    purity  purity_weight
k_mean_lable                                   ...
0                        50.0             0.0  ...  1.000000       0.333333
1                         0.0            39.0  ...  0.735849       0.260000
2                         0.0            11.0  ...  0.765957       0.240000

[3 rows x 5 columns]